@import '../../../index.scss';

.services-section {
  background: transparent;
  position: relative;
  z-index: 10;
  padding: 50px;

  .services-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;

    .section-title {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.3;
      color: $primary;
      margin: 0 0 12px 0;
    }

    .section-description {
      font-size: 16px;
      line-height: 1.5;
      color: $black;
      font-weight: 500;
      margin: 0 0 30px 0;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
  }

  .service-card {
    background: $primary;
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 0;
    transition: all 0.3s ease;
    border-radius: 60px;
    min-height: 90px;
    height: 90px;
    padding: 5px 5px;
    width: 100%;
    max-width: 450px;

    &.left-column {
      justify-content: flex-start;
    }

    &.right-column {
      justify-content: flex-end;
      flex-direction: row-reverse;

      .service-content {
        // border-radius: 34px 0px 0px 34px;
        text-align: right;
        align-items: flex-end;
      }
    }

    &:hover {
      transform: translateY(-2px);
      
      .service-content {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      }
    }

    .service-image-wrapper {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      background: #F8F8F8;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #EAEAEA;

      .service-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .service-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 4px;
      text-align: left;
      min-height: 80px;
      height: 80px;
      padding: 0px 20px;
      transition: all 0.3s ease;

      .service-title {
        font-size: 20px;
        font-weight: 700;
        color: $white;
        margin: 0;
        line-height: 1.2;
      }

      .service-description {
        font-size: 16px;
        line-height: 1.4;
        color: $white;
        margin: 0;
      }
    }
  }

  .whatsapp-booking-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .btn {
      min-width: 250px;
      padding: 12px 24px;
      font-size: 15px;
    }
  }
}

@media (max-width: 1300px) {
  .services-section {
    .services-wrapper {
      max-width: fit-content;
    }
  }
}


@media (max-width: 1200px) {
  .services-section {
    .services-wrapper {
      .section-title {
        font-size: 32px;
      }

      .section-description {
        font-size: 15px;
        margin-bottom: 25px;
      }
    }

    .services-grid {
      gap: 30px;
      margin-bottom: 25px;
    }

    .service-card {
      padding: 0;
      gap: 0px;

      &.left-column {
        justify-content: flex-start;
      }

      &.right-column {
        justify-content: flex-end;
        flex-direction: row-reverse;

        .service-content {
          border-radius: 34px 0px 0px 34px;
          text-align: right;
          align-items: flex-end;
        }
      }

      .service-image-wrapper {
        width: 100px;
        height: 100px;
      }

      .service-content {
        min-height: 80px;
        height: 80px;
        padding: 10px 30px;
        border-radius: 0px 34px 34px 0px;

        .service-title {
          font-size: 20px;
        }

        .service-description {
          font-size: 16px;
        }
      }
    }

    .whatsapp-booking-wrapper {
      margin-top: 25px;
    }
  }
}

@media (max-width: 968px) {
  .services-section {
    .services-wrapper {
      .section-title {
        font-size: 28px;
        margin-bottom: 10px;
      }

      .section-description {
        font-size: 14px;
        margin-bottom: 25px;
      }
    }

    .services-grid {
      gap: 20px;
      margin-bottom: 25px;
    }

    .service-card {
      padding: 0;
      gap: 0px;
      justify-content: flex-start;

      &.left-column {
        justify-content: flex-start;
      }

      &.right-column {
        justify-content: flex-start;
        flex-direction: row;

        .service-content {
          text-align: left;
          align-items: flex-start;
        }
      }

      .service-image-wrapper {
        width: 80px;
        height: 80px;
      }

      .service-content {
        min-height: 80px;
        height: 80px;
        padding: 10px 20px;
        border-radius: 0px 34px 34px 0px;

        .service-title {
          font-size: 18px;
        }

        .service-description {
          font-size: 14px;
        }
      }
    }

    .whatsapp-booking-wrapper {
      margin-top: 25px;

      .btn {
        min-width: 220px;
        padding: 10px 20px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 768px) {
  .services-section {
    padding-top: 50px !important;
    padding: 30px;
    
    .services-wrapper {
      .section-title {
        font-size: 32px;
      }

      .section-description {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }

    .services-grid {
      grid-template-columns: 1fr;
      gap: 20px;
      margin-bottom: 30px;
    }

    .service-card {
      padding: 0;
      gap: 0px;
      justify-content: flex-start;

      &:nth-child(odd) {
        order: 1;
      }

      &:nth-child(even) {
        order: 2;
      }

      &.left-column {
        justify-content: flex-start;
      }

      &.right-column {
        justify-content: flex-start;
        flex-direction: row;

        .service-content {
          text-align: left;
          align-items: flex-start;
        }
      }

      .service-image-wrapper {
        width: 100px;
        height: 100px;
      }

      .service-content {
        min-height: 80px;
        height: 80px;
        padding: 10px 30px;
        border-radius: 0px 34px 34px 0px;
        gap: 4px;

        .service-title {
          font-size: 20px;
        }

        .service-description {
          font-size: 16px;
        }
      }
    }

    .whatsapp-booking-wrapper {
      margin-top: 30px;

      .btn {
        min-width: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .services-section {
    .services-wrapper {
      .section-title {
        font-size: 30px;
        font-weight: 600;
      }

      .section-description {
        font-size: 17px;
        margin-bottom: 25px;
      }
    }

    .services-grid {
      gap: 15px;
      margin-bottom: 25px;
    }

    .service-card {
      padding: 5px 5px;
      gap: 0px;
      justify-content: flex-start;

      &.left-column {
        justify-content: flex-start;
      }

      &.right-column {
        justify-content: flex-start;
        flex-direction: row;

        .service-content {
          text-align: left;
          align-items: flex-start;
        }
      }

      .service-image-wrapper {
        width: 80px;
        height: 80px;
      }

      .service-content {
        min-height: 70px;
        height: 70px;
        padding: 10px 20px;
        border-radius: 0px 34px 34px 0px;
        gap: 4px;

        .service-title {
          font-size: 22px;
        }

        .service-description {
          font-size: 16px;
        }
      }
    }

    .whatsapp-booking-wrapper {
      margin-top: 25px;

      .btn {
        min-width: 100%;
        width: 100%;
        padding: 12px 20px;
        font-size: 22px;
        font-weight: 500;

        .btn-icon {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .services-section {
    .services-wrapper {
      .section-title {
        font-size: 30px;
        font-weight: 600;
      }

      .section-description {
        font-size: 17px;
        margin-bottom: 25px;
      }
    }

    .services-grid {
      gap: 15px;
      margin-bottom: 25px;
    }

    .service-card {
      padding: 5px 5px;
      gap: 0px;
      justify-content: flex-start;

      &.left-column {
        justify-content: flex-start;
      }

      &.right-column {
        justify-content: flex-start;
        flex-direction: row;

        .service-content {
          text-align: left;
          align-items: flex-start;
        }
      }

      .service-image-wrapper {
        width: 80px;
        height: 80px;
      }

      .service-content {
        min-height: 70px;
        height: 70px;
        padding: 10px 10px 10px 20px;
        border-radius: 0px 34px 34px 0px;
        gap: 4px;

        .service-title {
          font-size: 18px;
        }

        .service-description {
          font-size: 16px;
        }
      }
    }

    .whatsapp-booking-wrapper {
      margin-top: 25px;

      .btn {
        min-width: 100%;
        width: 100%;
        padding: 12px 20px;
        font-size: 18px;
        font-weight: 500;

        .btn-icon {
          font-size: 25px;
        }
      }
    }
  }
}